<% include partials/header %>
<form action="/search" method="GET">
<h1>Grubber</h1>
	<p>
		<label for="Food">Search</label>
		<br>
		<input type="text" name="recipe" >
	</p>
	<p>
		<input type="submit" >
	</p>

</form>

<% include partials/footer %>