<% include partials/header %>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Grubber</a>

        <ul>
            <li class="pure-menu-selected"><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            
        </ul>
    </div>
</div>



<div class="splash-container">
    <div class="splash">
    <% if(typeof message !== 'undefined') {%>
            <div id="alert">
            <a class="alert" href="#alert"><%= message %></a>
            </div>
        <% }%>
        
        <h1 class="splash-head">Grubber</h1>
        <p class="splash-subhead">
            Search for foods
        </p>
        <p>
        <form action="/search" class="pure-form search-form" method="GET">	
			<input type="text" name="recipe" >
			<button type="submit" class="pure-button">
				<i class="fa fa-search"></i>
				
			</button>
		</form>
        </p>
    </div>
</div>










<% include partials/footer %>