<% include partials/header %>

<h1>Grubber</h1>

<form action="/search" method="GET">
	<p>
		<label for="Food">Search</label>
		<br>
		<input type="text" name="recipe" >
	</p>
	<p>
		<input type="submit" >
	</p>
</form>



<a href="/signup" class = "btn btn-primary btn-lg">Sign up</a>
	&nbsp

<a href="/login" class = "btn btn-primary btn-lg">Log in</a>


<% include partials/footer %>