<% include partials/header %>
<h1>Location Location</h1>

<form action="/search" method="GET">
	<p>
		<label for="ZipCode">Enter Your Zip Code</label>
		<br>
		<input type="text" name="zipcode" >
	</p>
	<p>
		<input type="submit" >
	</p>
</form>


<% Results.forEach(function (food) {%>

		<%= food %>
    
   
            <% }) %>




<% include partials/footer %>