<% include partials/header %>
<h1>Location Location</h1>

<% console.log(Results); %>

<form action="/stores" method="GET">
	<p>
		<label for="city">City</label>
		<br>
		<input type="text" name="city" >
		<label for="state">State</label>
		<input type="text" name="state" >
		<input type="hidden" value="Results" name="Results" >
	</p>
	<p>
		<input type="submit" >
	</p>
</form>



<% include partials/footer %>