<% include partials/header_3 %>

<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Grubber</a>

        <ul>
            <li><a href="/myrecipes">My Recipes</a></li>
            <li><a href="/stores">Stores</a></li>
        	<li>
	            <form action="/search" class="pure-form" method="GET">	
					<input type="text" class="pure-input pure-input-rounded"name="recipe" >
					<button type="submit" class="pure-button">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</li>	
        </ul>
    </div>
</div>


<div id="results" class="js-packery"
  data-packery-options='{ "itemSelector": ".imgbox" , "gutter": 0, "columnWidth":300, "isOriginTop":false}'>

<% Results.forEach(function (food) {%>
       
	<div onclick="location.href='/details/<%=food.id%>';" class="imgbox ">
    <div class="food_img " >
      <img class="<%=food.id%>" style="height:200px;width:300px"src="" >
      </img>
      </div>  
      <p style="display:none;"class="food">,<%= food.id %></p> 
  </div>
              
      

 <% }) %>
</div>





<% include partials/footer %>