body{
    
    margin:0;
    padding:0;
    overflow: auto;
}


.search-form {
    margin: auto;

}

.results-link{

    text-decoration: none;
}

/*align menu header to left and float items to right*/
.home-menu {
        text-align: left;
    }

.home-menu ul {
      float: right;
            
    }


/*DETAILS PAGE*/

div.results-heading{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(32, 244, 197, 0.2);
    margin-bottom: 50px;
}

.main_sec{
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 75px;
  margin-top: 75px;
  width: 400px
}

.details{
  border-left: 2px dotted grey;
  margin-top: 75px;
  margin-bottom: 75px;
  padding-left: 50px;

}

.graph{
  
}

.name_sec h1{
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
}

.time_sec, .rating_sec, .servings_sec{
  font-family: 'Questrial', sans-serif;
  font-size: 20px;

}

.time_sec h3, .rating_sec h3, .servings_sec h3, .ingredients_sec h3{
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
  margin-bottom: 5px;
}



.flavor_sec{
  margin-left: 70px;
  padding-top: 50px;
  width: 300px;
}

.ingredients-list li{
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
}
/*links*/

.results-link:link {
  font-family: 'Questrial', sans-serif;
    color: black;
}

.results-link:visited {
  font-family: 'Questrial', sans-serif;
    color: blue;
}

/*buttons*/
 .button-warning {
        background: rgb(223, 117, 20); 
        }

  .button-success {
            background: rgb(28, 184, 65);
        }



@media only screen and (max-width: 800px) {
    div.results-heading{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

  .pure-g{
    letter-spacing: 0;
  }
  img{
    width:90%;
  }
  .details{
  border-top: 2px dotted grey;
  border-left: none;
  margin-top: 50px;
  margin-bottom: 75px;
  padding-left: 10px;

}
.flavor_sec{
  margin-left: 0px;
  padding-top: 20px;
  width: 300px;
}
  #myChart{
    width: 250px !important;
    height: 250px !important;
  }
}

@media only screen and (max-width: 1666px) {

  .details{
  border-left: none;
  margin-top: 50px;
  margin-bottom: 75px;
  padding-left: 10px;

}

}

