body{
	display: flex;
    justify-content: center;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow: auto;
}


.search-form {
	margin: auto;

}

.results-link{

    text-decoration: none;
}

/*align menu header to left and float items to right*/
.home-menu {
        text-align: left;
    }

.home-menu ul {
            float: right;
            
    }






/*DETAILS PAGE*/

div.results-heading{
    margin: 100px 100px 100px 50px ;
/*    margin-right: 100px;
    margin-left: 100px;*/
    width: 100%;
    background-color: rgba(208, 199, 201, 0.2);
}

/* .ingredients-list{
   padding-left: 30px;
}

.details-box{
    width: 600px;
}

.ingredients-sec{
    text-align: left;
    padding: 20px;
    background-color: #FD5A70;
}*/

.img-sec{
    height: 540px;
    width: 380px;
    margin: 0px;
    font-size: 35px;
    padding: 20px;
}

/*.details{
    width: 100%;
}*/

.details-sec{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    border-left: 1px solid grey;
    padding-left: 20px;
    font-size: 20px;
}

/*.flavors-sec{
    padding-left: 10px;
}*/
/*links*/

.results-link:link {
    color: black;
}

.results-link:visited {
    color: blue;
}

/*buttons*/
 .button-warning {
        background: rgb(223, 117, 20); 
        }

  .button-success {
            background: rgb(28, 184, 65);
        }




