html,body{
  height: 100%;
  margin:0;
  padding:0; 
  display:; 
}

.form{
  margin-top: 70px;
}

 #map-canvas {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}
/*.map_form{
  display: flex;
}*/
#map-canvas {
	margin-top: 60px;
	margin-bottom: 20px;
}

p{
	margin: 0px;
	float: right;
}
.home-menu {
        text-align: left;
    }

.home-menu ul {
            float: right;
            
    }

