html,body{
  height: 100%;
  width: 100%;
/*  margin:0;
  padding:0; 
  display:; */
}

.home-menu {
  text-align: left;
}

.home-menu ul {
  float: right;
}

.location, .map{
  display: inline-block;
}

.locatiion{
  display: inline;
}


 #map-canvas {
  height: 90%; 
  width: 80%;  
  margin-top: 60px ;
  margin-left: 350px;

}

div.form{
  z-index: 1000;
  position: absolute;
  top: 100px;
  left: 30px;
}


