

.search-form {
	margin: auto;

}

#results{
    margin: 200px 50px 80px 50px;

}

.results-link{

    text-decoration: none;
}

/*align menu header to left and float items to right*/
.home-menu {
        text-align: left;
    }

.home-menu ul {
            float: right;
            
    }

span{
    position: relative;
    top: -100px;
}

p .photo-box-caption{
    font-size: 20px;
    margin-top: -2em !important;
}






