body{
	display: flex;
	justify-content: center;
/*    height:100%;
    width:100%;*/
    margin:0;
    padding:0;
    overflow: auto;
    background: #f1f1f1;
}


.search-form {
	margin: auto;

}

.results-link{

    text-decoration: none;
}

/*align menu header to left and float items to right*/
.home-menu {
        text-align: left;
    }

.home-menu ul {
            float: right;
            
    }


@media all and (max-width: 600px){
  .splash-head {
    font-size: 3em;
    color: black;

  }
}



/*splash on home page*/

.splash-container {
    background: #00c0c0;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}



.splash {
    /* absolute center .splash within .splash-container */
    width: 60%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 15%; left: 0; bottom: 0; right: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
}



/* This is the main heading that appears on the blue section */
.splash-head {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6em;
    font-weight: bold;
    color: white;
    line-height: 1em;
    border: 3px solid white;
    padding: 12% ;
    font-weight: 100;
    border-radius: 5px;
   
}

/* This is the subheading that appears on the section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    margin-top: 10%%;

}

/*results page*/

p.food{
  display: none;
}

.results-heading{
    font-family: 'Metrophobic', sans-serif;
	padding-top: 50px;
	padding-bottom: 15px;
	text-align: center;

}

.recipes{
    font-family: 'Metrophobic', sans-serif;
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #FFF4DE;
}

.results{
	padding-top: 30px;
	text-align: center;
	/*flex-grow: 1;*/
}

.imgbox{
	margin: .3em;
   /* background-color: rgba(116,115, 115, .5);*/
	

	/*padding-top: 20px;*/
    /*flex-grow: 1;*/
}

a.food_img{
    display: block
}

.result_img{
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid white 2px;
    background-color: rgba(116,115, 115, .5); 

}

.food_img{
    width: auto;
/*    display: none;*/
    font-size: 1em;
    padding: .5em;
    border-left: solid white 2px;
    border-right:solid white 2px;
    border-bottom:solid white 2px; 
    background-color: rgba(253, 253, 253);

}

/*myrecipes*/

.myrecipe-sec{
    margin-left: 40px;
}

.myrecipe-box{
    margin: 8px;
    width: 180px;
    border-left: 7px solid #40F0F0;
    background-color: 253, 253, 253;

}

 .myrecipe-name, .myrecipe-delete{
    padding-left: 5px;
   color: black;

}

.myrecipe-img{
    flex-shrink: 1;
}

.myrecipe-button{
    background-color: black;
    color: white;
}


/*DETAILS PAGE*/
 .ingredients-list{
   padding-left: 30px;
}

.details-box{
    width: 600px;
}

.ingredients-sec{
    text-align: left;
    padding: 20px;
    background-color: #FD5A70;
}

.img-sec{
    height: 540px;
    width: 380px;
    margin: 0px

}

.form-sec{
    margin: 0px;
    padding: 10px;
    height: 277px;
    bottom: 0px;

}

/*links*/

.results-link:link {
    color: black;
}

.results-link:visited {
    color: blue;
}

/*buttons*/
 .button-warning {
        background: rgb(223, 117, 20); 
        }

  .button-success {
            background: rgb(28, 184, 65);
        }




/* Alert */

#alert {
    position: relative;
}
#alert:hover:after {
    background: hsla(0,0%,0%,.8);
    border-radius: 3px;
    color: #f6f6f6;
    content: 'Click to dismiss';
    font: bold 12px/30px sans-serif;

    height: 30px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 120px;
}
#alert:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 40px;
    width: 0;
}
#alert:target {
    display: none;
}
.alert {
    background-color: #c4453c;
    background-image: -webkit-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.05) 25%,
                      hsla(0,0%,0%,.05) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.05) 75%,
                      hsla(0,0%,0%,.05));
    background-image: -moz-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -ms-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -o-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    top: -45px;
    width: auto;
    -webkit-animation: alert 1s ease forwards;
       -moz-animation: alert 1s ease forwards;
        -ms-animation: alert 1s ease forwards;
         -o-animation: alert 1s ease forwards;
            animation: alert 1s ease forwards;
}

/* Animation */

@-webkit-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-moz-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-ms-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-o-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}

